.intro{
color:#2b1d0e;
font-family: 'Playfair Display', serif;

}

.header{
font-size:48px;
color:yellow;
background: linear-gradient(#0054f0, #1aecff);
  font-weight:bold;
  margin:20px,20px,20px,20px;
  

}
