.intro{
color:#2b1d0e;
font-family: 'Open Sans', serif;
  font-weight:bold;

}

.header{
font-size:56px;
color:yellow;
background: linear-gradient(#0054f0, #1aecff);
  font-weight:bold;
  padding:20px 20px 20px 20px;
  

}

h2{
font-size:34px;
color:#154599;
text-transform:uppercase;

}

h3{
font-size:24px;
font-family:'Rubik',sans-serif;
font-weight:bold;

}

body{
padding:30px 30px 30px 30px;


}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
