.intro{
color:#2b1d0e;
font-family: 'Open Sans', serif;
  font-weight:bold;

}

.header{
font-size:48px;
color:yellow;
background: linear-gradient(#0054f0, #1aecff);
  font-weight:bold;
  padding:20px 20px 20px 20px;
  

}

h2{
font-size:34px;
color:#154599;
text-transform:uppercase;

}
